body {
  margin: 0 auto;
  width: 400px;
  padding: 10px;

  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid #000;
}

.container-title {
  text-align: center;
}

h1 {
  display: inline-block;
  width: 150px;
  margin: 21px 0 0 0;
  border-bottom: 1px solid #b8b8b8;
}

.container-content {
  text-align: center;
}
